/* PALETTE */

.blue {
  background-color: #092136;
}

.light-blue {
  background-color: #1b72e8;
}

.grey {
  background-color: #e5e5e5;
}

.white {
  color: white;
}

/* HEADER */

.fa-bell {
  color: #ff9004;
}

/* MAIN */

#sidebar {
  width: 150px;
  background-image: url("../img/sidebar-bg.png");
  height: calc(100vh - 56px);
}

.icon {
  width: 20px;
}

#main-body {
  width: calc(100vw - 150px);
}

#main-top {
  height: 100px;
}
