/* PALETTE */

.blue {
  background-color: #092136;
}

.light-blue {
  background-color: #1b72e8;
}

.grey {
  background-color: #e5e5e5;
}

/* HEADER */

#header {
  height: 300px;
}

.fa-bell {
  color: #ff9004;
}
